body {
    padding: 0;
    margin: 0;
    background-color: #e9eaef
}

header {
    height: 42px;
    background-color: #4267b2;
    position: relative
}

header .first {
    font-size: 28px;
    color: #fffff1;
    position: absolute;
    top: 5px;
    left: 32px;
}

header .second {
    font-size: 28px;
    color: #fffff1;
    position: absolute;
    top: 5px;
    left: 5%;
}

header .pro-hom {
    width: 185px;
    height: 30px;
    background-color: #4267b2;
    position: relative;
    position: absolute;
    top: 6px;
    left: 708px;
}

header .pro-hom .profile, .home {
    width: 120px;
    height: 30px;
    background-color: #4267b2;
    position: relative;
}

header .pro-hom .profile p, .home p {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    position: relative

}

header .pro-hom .profile, .logout {
    width: 120px;
    height: 30px;
    background-color: #4267b2;
    position: relative;
}

header .pro-hom .profile p, .logout p {
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    position: relative

}

header .pro-hom .profile .image01 {
    width: 25px;
    height: 25px;
    background-color: white;
    background-image: url("https://img1.mrkzgulf.com/i/00120/xuq8uns8lqhb.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px
}

header .pro-hom .home p span {
    width: 13px;
    height: 14px;
    display: inline-block;
    padding: 0 4px 0 5px;
    background-color: #314d85;
    font-size: 11px;
    position: absolute;
    top: 1px;
    left: 38px;
}

header .pro-hom .logout p span {
    width: 13px;
    height: 14px;
    display: inline-block;
    padding: 0 4px 0 5px;
    background-color: #314d85;
    font-size: 11px;
    position: absolute;
    top: 1px;
    left: 38px;
}

header .pro-hom .profile {
    position: absolute;
    top: 0;
    left: 0px;
}

header .pro-hom .home {
    position: absolute;
    top: 0;
    left: 82px;
}

header .pro-hom .logout {
    position: absolute;
    top: 0;
    left: 200px;
}

header .pro-hom .profile p {
    position: absolute;
    top: -5px;
    left: 33px
}

header .pro-hom .home p {
    position: absolute;
    top: -5px;
    left: 12px
}

header .pro-hom .logout p {
    position: absolute;
    top: -5px;
    left: 32px
}

header .pro-hom .profile:hover {
    border-radius: 3px;
    background-color: #3b5ba0
}

header .pro-hom .home:hover {
    border-radius: 3px;
    background-color: #3b5ba0
}

header .pro-hom .logout:hover {
    border-radius: 3px;
    background-color: #3b5ba0
}

/*  new css */

.contentContainer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10%;
}

.boxContainer {
    width: 410px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    background-color: #FFFFFF;
    margin-top: 8%;
}

div.lineSplit {
    width: 371px;
    height: 1px;
    margin-left: 20px;
    background: #dcdee3;
}

div.lineSplit:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -8.5px;
    margin-left: 20px;
}

div.lineSplit:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #dcdee3 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -10px;
    margin-left: 20px;
}

.messageBox {
    height: 50px;
    width: 320px;
    resize: none;
    border: none;
    font-size: 14px;
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 30px;
    border-bottom: 1px solid #dcdee3;
}

.messageBox:focus {
    outline: none;
}

.postButton {
    width: 65px;
    height: 30px;
    border: none;
    float: right;
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px 10px 0 0;
    background-color: #4e69a2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.postButton:hover, .postButton:visited {
    outline: none;
}

.postButton:visited {
    outline: none;
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
}

.postButton:active {
    background-color: #3B5998;
    border-color: #2f477a #314a7f #334c83;
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
}

/*  post css */

.facebook-card {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.facebook-card-header {
    padding: 20px;
    height: 40px;
}

.facebook-card-user-image {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.facebook-card-time {

    color: #999;
    margin-left: 65px;
    margin-top: -5px;

}

.facebook-card-user-name {
    margin-left: 20px;
    font-weight: bold;
    color: #4267b2
}

.facebook-card-image {
    margin-left: 20px

}

.facebook-card-content {
    padding: 20px;
}

.facebook-card-content-user {
    font-weight: bold;
    color: #262626;
    margin-left: 20px;
}

.hashtag {
    color: #003569;
    margin: 20px;
}

.facebook-like-comment-share {
    padding-left: 0px;
    margin-top: -15px
}

.facebook-icons {
    color: #afb4bd;
    padding-left: 20px;
}

.facebook-photo {
    float: right;
    margin-right: 20px;
    padding-top: 0px;
    text-align: right;
}

.facebook-reactions-icons {
    margin-left: 20px;
    align-items: center;
}

.facebook-right {
    float: right;
    margin-right: 20px;
    padding-top: 0px;
    text-align: right;
}

.reaction-like {
    color: #5890ff;
    font-size: 22px;
}

.reaction-heart {
    margin-left: 3px;
    color: #f25268;
    font-size: 22px;
}

.reaction-face {
    color: #ffd972;
    font-size: 22px;
    margin-left: 3px;
}

.facebook-reactions-like {
    font-size: 19px;
}

.facebook-comments {
    padding-top: 5px;
    margin-left: 20px;
}

.user-comment {
    color: #003569;
    font-weight: bold;
}

.user-name-tag {
    color: #4267b2
}

.facebook-comments-user-image1 {
    margin-top: 16px;
}

.facebook-user-comment1 {
    margin-top: -55px;
    margin-left: 40px;
}

.facebook-comments-user-image2 {
    margin-top: -20px;
}

.facebook-user-comment2 {
    margin-top: -60px;
    margin-left: 40px;
    line-height: 1.5;
}

.facebook-comments-user-image3 {
    margin-top: -20px;
}

.facebook-user-comment3 {
    margin-top: -60px;
    margin-left: 40px;
    line-height: 1.5;
    margin-bottom: auto;
}

.facebook-comment-username {
    vertical-align: middle;
    margin-top: -25px;
}

.comments-content {
    background-color: #f6f7f9;
    padding-bottom: 11px;
}

.comments-input {
    padding-top: 18px;
    padding-right: 370px;
    border-style: solid;
    border-color: #dddfe2;

}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timeline {
    margin-top: 5%;
}

.post-text-area {
    border: white;
    margin: 0px;
    width: 90%;
    height: 50px;
    text-align: left;
    resize: none;
}

tr:nth-child(even) {
    background-color: #4267b2;
}
tr:nth-child(odd) {
    background-color: #f6f7f9;
}
th {
    background-color: #003569;
    color: white;
}
.noBorder {
    border:none !important;
}

.table-styles {
    position: relative;
    text-align: center;
    left: 35%;
    right: 35%;
    top: 200px;
}